body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #C9C0BB;
}
.container__header {
  background-color: rgb(180, 174, 165);
  border: 1px solid #0d0d0d;
  
  display: flex;
  justify-content: space-around;

}
.btn {
  cursor: pointer;
  width: 100px;
  height: 35px;
  padding: 5px;
  margin: 20px;
  background: linear-gradient(#656565, #444);
  border: solid 1px #535353;
  color: #ffffff;
  font-size: 18px;
}
.container__search-input {
  display: flex;
  align-items: center;  
}
.user-search-input {
  text-align: center;
  width: 200px;
  height:26px;
  font-size: 20px;
  font-weight: bold;
}
.load-info {
  font-size: 70px;
  font-weight: 700; 
  text-align: center;
  margin-top: 50px;
  font-variant: small-caps;
  animation: load 1s linear infinite;
}
@keyframes load {
  100% { color: rgba(34, 34, 34, 0); }
}
.UsersTable {
  text-align: center;
}

.table_arrows {
  position: relative;
  cursor: pointer;
}
.stateInput {
  display: none;
}
.stateInput + .table_arrows:after {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: -16px;
  border: 10px solid transparent;
  border-top: 10px solid #0d0d0d;
  border-width: 12px 7px;
}
.stateInput:checked + .table_arrows:after {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: -16px;
  border: 10px solid transparent;
  border-top: 10px solid gray;
  border-width: 12px 7px;
}
.stateInput + .table_arrows:before {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: 12px;
  border: 10px solid transparent;
  border-bottom: 10px solid gray;
  border-width: 12px 7px;
}
.stateInput:checked + .table_arrows:before {
  content: ' ';
  position: absolute;
  left: 10px;
  bottom: 12px;
  border: 10px solid transparent;
  border-bottom: 10px solid #0d0d0d;
  border-width: 12px 7px;
}
.table-pages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 20px auto;
}
.table-pages li {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: grey;
  line-height: 30px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.selected-user {
  position: fixed;
  top: 10%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #656565;
  opacity: 0.8;
  width: 380px;
  color: #ffffff;
}
.selected-user span {
  font-weight: bold;
}
.selected-user textarea {
  resize: none;
  width: 330px;
  height: 120px;
  outline: none;
  overflow: auto;
  font-size: 16px;
  padding: 10px;
}